 {% load static %}

 <footer class="page-footer black">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <img src="{% static 'img/CAFBLogoBlack.png' %}">
              <h5 class="white-text" id="contact">Contact Us</h5>
              <p class="grey-text text-lighten-4">Have a question about this project?</p>
          </div>
              <a class="waves-effect waves-light btn-large" href='https://my.capitalareafoodbank.org/donate'>Donate</a>
              <a class="waves-effect waves-light btn-large" href='https://capitalareafoodbank.volunteermatrix.com/'>Volunteer Schedule</a>
              <a class="waves-effect waves-light btn-large" href='https://www.capitalareafoodbank.org/volunteer-5/'>Volunteer Info</a>
            <div class="col l4 offset-l2 s12">
              <!-- <h5 class="white-text">Links</h5>
              <ul>
                {% include 'nav-bar-items.html' %}
              </ul> -->
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          No Copyright
          </div>
        </div>
</footer>
