{% extends "base.html" %}
    {% load static %}
    {% block content %}

  <body>

    <div id="main">


    <div class="divider"></div>
      <div class="section">
        <h4> What is this Project? </h4>
        <p class="flow-text">
        Description of the project
         </p> 

    </div>

    <div class="divider"></div>
      <div class="section">

        <h5>Request a UPC</h5>

        <div class="row">
          <form id='upc_ajax_form' class="col s12"> {% csrf_token %}
              <div class="input-field col">
              
                <i class="material-icons prefix">playlist_add</i>
                <input name="upc_code" type="text" pattern="\d*" class="validate">
                <label for="upc_code">UPC Numeric Code</label>
                <button id='upc_ajax_form' class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
                </button>

              </div>
          </form>
        </div>
      </div>




    <div class="divider"></div>

      <h4>Items in Database </h4>

      <table class="responsive-table highlight">
        <thead>
          <tr>
              <th data-field="activity">UPC Code</th>
              <th data-field="time">Item Name</th>
              <th data-field="time">Date Entered into DB</th>

              
          </tr>
        </thead>

        <tbody>
            {% for product in list_products %}
            <tr>
              <td>{{ product.gtin_code }}</td>
              <td>{{ product.gtin_name }}</td>
              <td>{{ product.created }}</td>

            </tr>
            {% endfor %}

        </tbody>
      </table>

      {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
            </li>
        {% endif %}
            <li class="">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
        {% if page_obj.has_next %}
            <li>
                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
            </li>
        {% endif %}
        </ul>
        {% else %}
            <h3>Your Products List</h3>
            <p>Prodcuts not yet available</p>
        {% endif %}




    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Create a new Wellness Rule</h5>

      <div class="row">
        <form id='wellness_rule_form' class="col s12"> {% csrf_token %}
            {% include 'partials/_input.html' with name="wellness_rule[category_id]" label="Category Id" %}

            {% include 'partials/_input.html' with name="wellness_rule[nutrient]" label="Nutrient" %}

            {% include 'partials/_input.html' with name="wellness_rule[nutritional_field]" label="Nutritional Field" %}

            {% include 'partials/_input.html' with name="wellness_rule[rule_type]" label="Rule Type" %}

            <button id='ajax_form' class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
            </button>
        </form>
      </div>
    </div>
  </body>

{% endblock content %}

